<mat-toolbar color="primary">
  <span>Lista de Solicitudes</span>

  <span class="flex-spacer"></span>

  <button mat-icon-button (click)="cargarSolicitudes()">
    <mat-icon matTooltip="Recargar" matTooltipPosition="above">refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="componente-solicitudes">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="lsSolicitudes" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="paciente_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre paciente </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.paciente.nombre}} </mat-cell>
        </ng-container>
        <!-- <ng-container matColumnDef="categoria_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.categoria.nombre}} </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="clasificacion_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Clasificación </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.clasificacion.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora </mat-header-cell>>
          <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy h:MM:ss'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>
