<mat-toolbar color="primary">
  <span>Pacientes registrados</span>

  <span class="flex-spacer"></span>

  <button mat-icon-button (click)="_pacientesService.cargarPacientes()">
    <mat-icon matTooltip="Recargar" matTooltipPosition="above">refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="nuevoPaciente()">
    <mat-icon matTooltip="Registrar paciente" matTooltipPosition="above">add</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="card m-4">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="_pacientesService.lsPacientes" matSort>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="documento">
        <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.documento}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="direccion">
        <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.direccion}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nom_usuario">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom_usuario}} </mat-cell>
      </ng-container>
      <!-- <ng-container matColumnDef="foto">
        <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.foto}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editarPaciente(element)">
              <mat-icon color="secondary">edit</mat-icon>
              <span>Ver historial</span>
            </button>
            <button mat-menu-item (click)="editarPaciente(element)">
              <mat-icon color="secondary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="eliminarPaciente(element)">
              <mat-icon>delete</mat-icon>
              <span color="primary">Eliminar</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
