<!-- <router-outlet></router-outlet> -->

<!-- <app-listado-pacientes></app-listado-pacientes> -->


<!-- <mat-tab-group color="primary" backgroundColor="primary" [(selectedIndex)]="tabIndex" (selectedIndexChange)="cambioTab($event)">
  <mat-tab class="p-4 tabs">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">format_list_bulleted</mat-icon>
      Listado
    </ng-template>
    <div class="cont">
      <app-listado-pacientes></app-listado-pacientes>
    </div>
  </mat-tab>
  <mat-tab class="cont">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">accessibility</mat-icon>
      Registro
    </ng-template>
    <div class="cont">
      <app-registro-pacientes (recargarPacientes)="recargarPacientes()"></app-registro-pacientes>
    </div>
  </mat-tab>
  <mat-tab class="cont" *ngIf="pacienteSeleccionado">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">accessibility</mat-icon>
      Actualizar usuario
    </ng-template>
    <div class="cont">
      <app-registro-pacientes [paciente]="pacienteSeleccionado" (recargarPacientes)="recargarPacientes()"></app-registro-pacientes>
    </div>
  </mat-tab>
</mat-tab-group> -->
