table {
  width: 100%;
}

.body {
  height: 100vh;
}

.principal {
  display: flex;
  justify-content: center;
  position: relative;
}

.content-card:hover .info {
  top: 0;
}

.content-card {
  width: 560px;
  background: red;
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.content-card .info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  transition: all .3s;
  background: #00000070;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 0;
}
