  <h2 class="title">Historial clínico</h2>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef> Diagnóstico </th>
      <td mat-cell *matCellDef="let element"> {{element.diagnosis}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="severity_level">
      <th mat-header-cell *matHeaderCellDef> Gravedad </th>
      <td mat-cell *matCellDef="let element"> {{element.severity_level}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm a'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
