<mat-toolbar color="primary">
  <button mat-icon-button (click)="volverAtras()" class="mr-2">
    <mat-icon matTooltip="Volver" matTooltipPosition="above">arrow_back</mat-icon>
  </button>
  <span>Reportado por {{medicalEmergency?.patient.name}}</span>
  <span class="flex-spacer"></span>
  <!-- <button mat-icon-button class="mr-2" form="ngForm">
    <mat-icon matTooltip="Guardar cambios" matTooltipPosition="above">check</mat-icon>
  </button> -->
  <button mat-icon-button (click)="cargarInfo()">
    <mat-icon matTooltip="Recargar" matTooltipPosition="above">refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group color="primary" backgroundColor="primary" [selectedIndex]="0">
  <mat-tab class="p-4 tabs">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" class="mr-2">accessible_forward</mat-icon>
      Información general
    </ng-template>
    <mat-card *ngIf="medicalEmergency" class="m-4">

      <div class="item">
        <div class="text">Nombre de paciente:</div>
        <div class="description"><a
            [routerLink]="['/pacientes', medicalEmergency.patient.id]">{{medicalEmergency.patient.name}}</a></div>
      </div>
      <hr>
      <div class="item">
        <div class="text">Edad:</div>
        <div class="description">{{getAge(medicalEmergency.patient.birthdate)}} años</div>
      </div>
      <hr>
      <div class="item">
        <div class="text">Hospital asignado:</div>
        <div *ngIf="medicalEmergency.medical_center_id" class="description">{{medicalEmergency.medicalCenter.name}}
          ({{medicalEmergency.updatedAt | date: 'dd/MM/yyyy hh:mm a'}})
        </div>
        <div *ngIf="!medicalEmergency.medical_center_id" class="description">
          <button mat-raised-button (click)=" openManageMedicalE()" color="warn">Sin Asignar</button>
        </div>
      </div>
      <hr>
      <div class="item">
        <div class="text">Descripcion paciente:</div>
        <div class="description">{{medicalEmergency.patient_description}}</div>
      </div>
      <hr>
      <div *ngIf="!!medicalEmergency.photo" class="item">
        <div class="text">Foto:</div>
        <div class="description">
          <img [src]="medicalEmergency.photo" alt="imagen emergencia medica" class="img-report">
        </div>
      </div>
      <hr *ngIf="!!medicalEmergency.photo">
      <div *ngIf="medicalEmergency.medical_center_id" class="item">
        <div class="text">Descripcion general:</div>
        <div class="description">{{medicalEmergency.doctor_description}}</div>
      </div>
      <hr *ngIf="medicalEmergency.medical_center_id">
      <div class="item">
        <div class="text">Fecha de creación:</div>
        <div class="description">{{medicalEmergency.createdAt | date: 'dd/MM/yyyy hh:mm a'}}</div>
      </div>
      <hr>


      <!-- <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>accessibility</mat-icon>
          <h4 mat-line>{{medicalEmergency.patient.name}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>assessment</mat-icon>
          <h4 mat-line>{{medicalEmergency.priority}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>description</mat-icon>
          <h4 mat-line>{{medicalEmergency.patient_description}}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon mat-list-icon>update</mat-icon>
          <h4 mat-line>{{medicalEmergency.createdAt | date: 'dd/MM/yyyy hh:mm a'}}</h4>
        </mat-list-item>
      </mat-list> -->
    </mat-card>
  </mat-tab>
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" class="mr-2">assignment</mat-icon>
      Seguimiento
    </ng-template>
    <mat-card *ngIf="solicitud" class="m-4">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="seguimiento" matSort>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="diagnostico">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Diagnóstico </mat-header-cell>>
            <mat-cell *matCellDef="let element"> {{element.diagnostico}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="observacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Observacion </mat-header-cell>>
            <mat-cell *matCellDef="let element"> {{element.observacion}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora </mat-header-cell>>
            <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy h:MM:ss'}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </mat-tab> -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" class="mr-2">map</mat-icon>
      Ubicación de emergencia
    </ng-template>
    <mat-card *ngIf="medicalEmergency" class="m-4">
      <mat-card-header>
        <mat-card-title>Ubicación de accidente</mat-card-title>
        <mat-card-subtitle>{{medicalEmergency.patient?.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <agm-map [latitude]="medicalEmergency.coordLat" [longitude]="medicalEmergency.coordLong" [zoom]="15"
          (mapReady)="mapReady($event)" class="mb-2">
          <agm-marker [latitude]="medicalEmergency.coordLat" [longitude]="medicalEmergency.coordLong"
            [label]="medicalEmergency.patient?.name"></agm-marker>
        </agm-map>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="m-2" (click)="localizarPaciente()">
          <mat-icon matTooltip="Recargar" matTooltipPosition="above">my_location</mat-icon> Localizar paciente
        </button>
        <!-- <button mat-raised-button color="primary" class="m-2" (click)="trazarRutaPaciente()">
                <mat-icon matTooltip="Recargar" matTooltipPosition="above">navigation</mat-icon> Trazar ruta
              </button> -->

      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>
