.content-list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;

  .card-user {
    cursor: pointer;
    display: flex;
    align-items: center;

    .user-image {
      font-size: 50px;
      width: 50px;
      margin-right: 12px;
    }
  }
}
