<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar> -->

  <div class="mat-elevation-z6 cont-tool">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Sistema de salud</h1>
      <span class="flex-spacer"></span>
      <h2>Bienvenido {{user.nombre}}</h2>
      <button *ngIf="lsNotificaciones.length" mat-icon-button [matMenuTriggerFor]="menuSolicitudes" [matBadge]="lsNotificaciones.length"
        matBadgePosition="after" matBadgeColor="accent">
        <mat-icon>accessible_forward</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="cerrarSesion()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
      <mat-menu #menuSolicitudes="matMenu" (close)="cierraNotifi()">
        <mat-list role="list">
          <mat-list-item *ngFor="let notif of lsNotificaciones">
            <a mat-list-item [routerLink]="''">Solicitud hecha por {{notif.paciente_id}}</a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-menu>
    </mat-toolbar>
  </div>
  <mat-progress-bar mode="indeterminate" [hidden]="!cargando"></mat-progress-bar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list *ngFor="let route of routes">
        <a mat-list-item [routerLink]="['/',route.url]" routerLinkActive="active-link">
          <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
          {{route.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<pre>{{ routes | json }}</pre>
