<div class="main d-flex flex-column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" *ngIf="true">
    <mat-sidenav #sidenav [mode]="mode.value">
      <p>
        <button mat-button (click)="sideNavToggle()">Toggle</button>
      </p>
      <p>
        <mat-radio-group class="example-radio-group" [formControl]="mode">
          <label>Mode:</label>
          <mat-radio-button value="over">Over</mat-radio-button>
          <mat-radio-button value="side">Side</mat-radio-button>
          <mat-radio-button value="push">Push</mat-radio-button>
        </mat-radio-group>
      </p>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>
        <button mat-button (click)="sideNavToggle()">Toggle</button>
      </p>
      <p>
        <mat-radio-group class="example-radio-group" [formControl]="mode">
          <label>Mode:</label>
          <mat-radio-button value="over">Over</mat-radio-button>
          <mat-radio-button value="side">Side</mat-radio-button>
          <mat-radio-button value="push">Push</mat-radio-button>
        </mat-radio-group>
      </p>
      <!-- <pre>{{mode |json}}</pre> -->
    </mat-sidenav-content>
  </mat-sidenav-container>


  <!-- <router-outlet></router-outlet> -->

</div>
