.example-container {
  width: 100%;
  height: 100%;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.main {
  position: absolute;
  height: 100%;
  width: 100%;
}
