<mat-toolbar color="primary">
  <span>Emergencias reportadas</span>

  <span class="flex-spacer"></span>

  <button mat-icon-button (click)="getAll()">
    <mat-icon matTooltip="Recargar" matTooltipPosition="above">refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="componente-solicitudes">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container> -->
      <ng-container matColumnDef="paciente_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre paciente </mat-header-cell>>
        <mat-cell *matCellDef="let element"> {{element.patient.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>>
        <mat-cell *matCellDef="let element"> {{element.patient_description}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>>
        <mat-cell *matCellDef="let element">
          <!-- {{getStateMedicalEm(element.state)}} -->
          <button mat-raised-button *ngIf="element.state !=='Asignado'" (click)=" openManageMedicalE(element)"
            color="primary">Sin Asignar</button>
          <button mat-raised-button *ngIf="element.state ==='Asignado'" disabled>Asignado</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha y hora </mat-header-cell>>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm a'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filaSeleccionada(row)"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
