.title {
  text-align: center;
}

.content-list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 1em;

  .active {
    background: #cdcdcd;
  }

  .medical-card {
    cursor: pointer;

    mat-card-header {
      /deep/.mat-card-header-text {
        width: 100%;
      }

      mat-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

}

.description {
  display: flex;
  flex-direction: column;
}

.alert-near {
  color: red;
}
