.content-medical-center {
  padding: 2em 1.5em;

  .content-list-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;

    .medical-card {
      mat-card-header {
        /deep/.mat-card-header-text {
          width: 100%;
        }

        mat-card-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

  }
}
