<div class="content d-flex justify-content-center align-items-center">
  <mat-card class="card">
    <form class="example-container d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Iniciar sesión</h2>

      <mat-form-field>
        <input matInput placeholder="Usuario" formControlName="user" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="user.errors?.required">El nombre de usuario es requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="password.errors?.required">La contraseña es requerida</mat-error>
        <mat-error *ngIf="password.errors?.minlength">Debe ser mayor a 8 caracteres</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" *ngIf="!cargando">Iniciar sesión</button>
      <div class="d-flex justify-content-center" *ngIf="cargando">
        <mat-spinner [diameter]="35" [strokeWidth]="4"></mat-spinner>
      </div>
    </form>

  </mat-card>
</div>
